@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-size: 16px;
    line-height: 135%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 40px;
    font-weight: 600;
}

p {
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 160%;
    font-weight: 300;
}

div {
    display: block;
    box-sizing: border-box;
}

.sidebar-column {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 25%;
    height: 100%;
    padding: 50px 40px;
    background-color: #333;
    color: #9b9b9b;
}

.navigation-bar {
    display: block;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
}

.w-nav {
    position: relative;
    /* background: #dddddd; */
    z-index: 1000;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.logo-link {
    display: block;
    float: none;
    text-decoration: none;
}

.w-nav-brand {
    position: relative;
    /* top: 10px; */
    float: left;
    text-decoration: none;
    color: #333333;
}

.logo-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #f0f0f0;
    font-size: 28px;
    line-height: 120%;
    font-weight: 600;
}

.navigation-menu {
    float: none;
    top: 18px;
    /* float: left; */
}
.w-nav-menu {
    position: relative;
    /* background-color: red; */
}

.main-subheading {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 150%;
}

.divider {
    width: 50%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #5e5e5e;
}

.nav-link.w--current {
    color: #ebebeb;
}

.nav-link {
    display: block;
    padding: 6px 0px;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
    color: #969696;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
        color: #ebebeb;
    }
}
.w-nav-link {
    position: relative;
    vertical-align: top;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


.content {
    width: 75%;
    margin-left: 25%;
    padding: 50px;
    /* background-color:red; */
    /* z-index:1000000; */
}

.blog-list {
    display: block;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

.post-wrapper {
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #d3d3d3;
    background-color: #fff;
}

.blog-title-link {
    display: block;
    -webkit-transition: opacity 200ms ease;
    transition: opacity 200ms ease;
    color: #333;
    text-decoration: none;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.blog-title {
    /* margin-top: 0px; */
    margin-top: 14px;
    margin-bottom: 10px;
    /* font-size: 30px; */
    font-size: 24px;
    /* line-height: 37px; */
    line-height:30px;
}

.post-info-wrapper {
    /* margin-top: 10px; */
    margin-bottom: 10px;
    font-size: 10px;
}

.post-info {
    display: inline-block;
    margin-right: 8px;
    color: #969696;
    font-size: 12px;
    line-height: 125%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.post-summary {
    display: block;
    margin-bottom: 14px;
    line-height: 144%;
}

.button-round {
    padding: 5px 12px;
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    /* background-color: #fff; */
    -webkit-transition: border 200ms ease, color 200ms ease;
    transition: border 200ms ease, color 200ms ease;
    color: #333;
    font-size: 14px;
    font-weight: 300;
}
.button-round:hover {
    border-color: #333;
}

.w-button {
    display: inline-block;
    /* padding: 9px 15px; */
    /* background-color: #3898EC; */
    /* color: white; */
    /* border: 0; */
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    /* border-radius: 0; */
}

.katex { font-size: 1em !important; }
